// .progress {
// background: #eef8da;
// border: solid 1px #99ce28
// }

// .progress-bar {
//   border: #99ce28
// }
h1{
  color: rgb(0, 0, 0);
}

strong{
  color: red;
  text-decoration: dotted;
}
