.container {
  margin-top: 30px;
  background-color: #f8f9fa
}

.jumbotron {
  padding-top:20px ;
  padding: 40px;
}

.form-floating {
  margin-top: 30px;
}

.instrucao {
  margin: 10px;
}

.fraseIngles {
  margin: 10px;
}
